* {
    margin: 0;
  }

html,
body {
  height: 100%;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  color: var(--dark-grey);
}

#main, #homeFeed, #menuFeed, #contactFeed, #content, #header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content {
  background-color: rgb(237, 237, 237);
}

#pageContainer {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.active {
  background-color: red;
}

img {
    width: 450px;
    height: 313px;
}